.wrapper{
	width: var(--content-width);
	margin: 0 auto;
}
.intro{
	height: 550px;
	max-height: 50vh;
	background: url(/static/images/products/intro.jpg) no-repeat center -10vh fixed;
	background-size: cover;
}
.categoryWrapper{
	width: 47.5%;
	display: inline-block;
	vertical-align: top;
}
.comingSoon{
	margin-left: 5%;
}
.categoryWrapper h2{
	text-align: center;
}
.catList{
  @include listReset;
	font-size: 1.5em;
}
.catList > li{
	border-top: 1px solid $primary-color;
	padding: 15px 15px;
}
.catList img{
	height: 70px;
}
.search{
	margin-top: 20px;
  width: 300px;
  position: relative;
}
.search button{
	order: -1;
	background-image: url(/static/images/search_submit_reversed.png) !important;
	margin-right: 6px;
	width: 33px;
}
@media screen and (max-width: 1270px) {
	.intro{
		margin-top: var(--mobile-menu-height);
		background-position: center center;
		max-height: 30vh;
	}
	.search{
		margin: 20px auto;
	}
}
@media screen and (max-width: 700px) {
	.categoryWrapper{
		width: 100%;
		margin: 0px;
	}
}