$inputColor: #646464;
$labelColor: #646464;
$fontSize: 1.1em;
$gap: 25px;

:global{
	.g-atcohuman .g-submit{
		background-color: $orange;
		&:hover{
			background: $orange-highlight;
		}
	}
	.g-atcovet .g-submit{
		background-color: $red;
		&:hover{
			background: $red-highlight;
		}
	}
	.g-atcovet .g-progressBar{ border: 1px solid $red; }
	.g-atcohuman .g-progressBar{ border: 1px solid $orange; }
	.g-atcohuman .g-uploadProgress{ background-color: $orange; }
	.g-atcovet .g-uploadProgress{ background-color: $orange; }
}
form{
	.required{
		color: $red;
		font-weight: bold;
		font-size: 1.2em; 
		margin-left: 6px; 
	}
	.row{
		position: relative;
		margin-bottom: $gap;
		> label {
			position: absolute;
			top: 0;
			bottom: 0;
			padding: 7px 20px;
			color: $inputColor;
			font-size: $fontSize;
		}
		input, textarea {
			&:valid{   
				background: white;
			} 
		}
	}
	.input{ 
		position: relative;
		display: block;
		width: 100%;
		border-radius: 3px;
		border: 0px;
		background: none;
		-webkit-appearance: none;
		box-shadow: inset 0px 0px 12px #e2e2e2;
		padding: 10px 20px;
		color: $inputColor;
		font-size: $fontSize;
		z-index: 1;
	}
}
form.go-bottom label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: 0.2s;
}
.tags{
	margin-bottom: $gap;
	-webkit-appearance: none;
	box-shadow: inset 0px 0px 12px #e2e2e2;
	padding: 10px 20px;
  overflow: hidden;
} 
.submit{
	color: #fff;
	border-radius: 3px;
	margin-bottom: 25px;
	border: none;
	font-size: 1.3em;
	padding: 5px 20px;
	cursor: pointer; 
	transition: all 300ms ease-in-out;
	letter-spacing: 1px;
	font-weight: bold;
}
.label{
	color: $labelColor;
	font-size: 1.2em;
	margin: $gap 0 5px 20px;
	display: block;
}
.textarea{
	height: 200px;
}
.fileWrapper{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.file{
	position: relative;
	overflow: hidden;
	.fileButton{
		@extend .submit;
		display: inline-block;
		margin-bottom: 0px;
	}
	.fileStatus{
		display: inline-block;
		margin-left: 15px;
		font-size: 1.2em;
		transition: all 300ms ease-in-out;
	}
	&:hover .fileStatus{
		color: #0b23ab;
	}
}
.progressBar{
	flex-grow: 1;
	margin: 0 50px;
	border-radius: 3px;
	padding: 2px 0;
	text-align: center;
	position: relative;
	opacity: 0;
	transition: opacity 200ms ease-in-out;
	&.active{
		opacity: 1;
	}
	.progressCount{
		position: relative;
		z-index: 1;
	}
	.uploadProgress{
		content: '';
		position: absolute;
		transition: width 100ms ease-in-out;
		left: 0px;
		top: 0px;
		width: 0px;
		height: 100%;
	}
}
.errorBox{
	background-color: $red;
	font-family: Verdana,sans-serif;
	font-size: 0.9em;
	color: #fff;
	border-radius: 3px;
	padding: 2px 10px 3px;
	display: inline-block;
	margin: 0 0 10px 5px;
	position: relative;
	&::after{
		content: '';
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 7px 7px 0 7px;
		border-color: $red transparent transparent transparent;
		position: absolute;
		bottom: -6px;
		left: 5px;
	}
}
.button{
	@extend .submit;
	background-color: #CDE69C;
	color: #638421;
	margin: 0 5px;
	font-weight: normal;
	&:hover{
		background-color: #c1db8b;
	}
}
.hidden{
	display: none;
}

@media screen and (max-width: 1270px) {
	.fileWrapper{
		flex-direction: column;
	}
	.fileWrapper label{
		width: 100%;
	}
	.progressBar{
		flex: 1;
		width: 100%;
		margin-top: 15px;
	}
}