$primary-color: #0072BB;
$accent-color: #8bbae4;
$secondary-color: #F49600;
$human-color: #ed9e19;
$vet-color: #ed2027;

$orange: #ed9e19;
$orange-highlight: #d48d12;
$red: #ec2027;
$red-highlight: #d6131a;